src/main/app/exp-tourofheros-api-v1.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"

    xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"

    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

     <flow name="exp-tourofheros-api-v1-main">
        <http:listener config-ref="exp-tourofheros-api-v1-httpListenerConfig" path="/*" doc:name="HTTP"/>
        <apikit:router config-ref="exp-tourofheros-api-v1-config" doc:name="APIkit Router"/>
        <exception-strategy ref="exp-tourofheros-api-v1-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>

    <flow name="exp-tourofheros-api-v1-console">
        <http:listener config-ref="exp-tourofheros-api-v1-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="exp-tourofheros-api-v1-config" doc:name="APIkit Console"/>
    </flow>

    <flow name="put:/heros/{id}:exp-tourofheros-api-v1-config">
        <set-payload value="{&#xD;&#xA;    &quot;id&quot;: 1,&#xD;&#xA;    &quot;name&quot;: &quot;Superman&quot;&#xD;&#xA;}" doc:name="Set Payload"/>
    </flow>

    <flow name="delete:/heros/{id}:exp-tourofheros-api-v1-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>

    <flow name="get:/heros:exp-tourofheros-api-v1-config">
        <set-payload value="[&#xD;&#xA;    {&#xD;&#xA;        &quot;id&quot;: 1,&#xD;&#xA;        &quot;name&quot;: &quot;Superman&quot;&#xD;&#xA;    },&#xD;&#xA;    {&#xD;&#xA;        &quot;id&quot;: 2,&#xD;&#xA;        &quot;name&quot;: &quot;Batman&quot;&#xD;&#xA;    }&#xD;&#xA;]" doc:name="Set Payload"/>
    </flow>

    <flow name="get:/heros/{id}:exp-tourofheros-api-v1-config">
        <set-payload value="{&#xD;&#xA;    &quot;id&quot;: 1,&#xD;&#xA;    &quot;name&quot;: &quot;Superman&quot;&#xD;&#xA;}" doc:name="Set Payload"/>
    </flow>

    <flow name="post:/heros:application/json:exp-tourofheros-api-v1-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>

</mule>
